<!DOCTYPE html>
<html lang="en" style="background-color:#00CC60">
	<head>
		<!-- META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="MEDule | Making Medications Less Painful">
		<meta name="author" content="sehnis">

		<!-- MISC STYLE -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="favicon" href="/static/images/logo/favicon.ico">
		<title>{% block title %}{% endblock %} | MEDule.org</title>

		<!-- CSS & NON-CORE JS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/medulestyle.css" rel="stylesheet">
		<script src="/static/js/modernizr-2.8.3.min.js"></script>

	</head>

	<body style="background-color:#00CC60">



	{% if session.get('logged_in') %}
		<div class="container" style="width:900px;display:block;margin:auto">
			<nav class="navbar navbar-default" style="background-color:#FFF!important;padding:10px">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							<img src="http://localhost:5000/static/images/logo/medule_green.png" width="160px" height="40px" style="margin-top:-15px">
						</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a>Hello, {{session['active_user']}}!&nbsp;&nbsp;&nbsp;</a></li>
						<li><a href="#">Dashboard&nbsp;&nbsp;&nbsp;</a></li>
						<li><a href="#" onclick="window.print();">Click here to Print the Current Page&nbsp;&nbsp;&nbsp;</a></li>
						<li><a href="#" onclick="location.href='logout';">Logout&nbsp;&nbsp;&nbsp;</a></li>	
					</ul>
					</ul>
				</div>
			</nav>
		</div>
	{% endif %}



		<br><br>
		<div class = "primary container rounded" style = "font-family:'Montserrat',sans-serif;max-width:700px;background-color:#FFF;padding:25px;border-radius:25px">
			<div id = "bigcontent" class = "rounded">
			{% block main %}{% endblock %}
			</div>
			<!-- SEPARATE FOOTER TEMPLATE -->
			{% include 'footer.html' %}
		</div>
		<br>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.0.min.js"><\/script>')</script>
	<script src="/static/js/bootstrap.min.js"></script>

	</body>
</html>