{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<div style = "text-align:center">
	<p style="color:#f00;font-weight:bold">{{errmess}}</p>
	<p style="color:#00CC60;font-weight:bold">{{succmess}}</p>
	<button type="button" class="btn-lg btn-success btn-block" onclick="location.href='new';">Click to Add a New Medication</button><br>
	{% if allmeds %}
	<p>Here are all of the medications currently associated with your account.<br>Click on one to learn more about it, or add it to your Google Calendar.</p>
	{% else %}
	<p>It looks like you don't have any medications added to your dashboard.<br>Click on the button above to add one for this account.</p>
	{% endif %}
	<div style="display:block;margin:auto;max-width:500px;text-align:left">
	{% for med in allmeds %}
		<hr><a href="{{med.id}}">
		<h1>{{med.brand_name}}</h1><h3>({{med.generic_name}})</h3></a>
	{% endfor %}
	</div> 

</div>
{% endblock %}