{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block main %}
<div style = "text-align:center">
	<h1>MEDule</h1>
	<p>Medule allows you to create and view easy-to-read summaries and schedules of perscribed medications, to minimize confusion and prevent accidental misuse of perscriptions.</p>
	<br><hr><br>
	<button type="button" class="btn btn-primary btn-block">Sign In</button>
	<br><p>or</p><br>
	<button type="button" class="btn btn-primary btn-block">Register</button>
	<br>
</div>
{% endblock %}