{% extends "base.html" %}


{% block title %}Add a Medication{% endblock %}

{% block main %}
<div style = "text-align:center">
	<p style="color:#f00;font-weight:bold">{{errmess}}</p>
	<p style="color:#00CC60;font-weight:bold">{{succmess}}</p>
	<h1><b style="font-size:48px">Add a Medication</b></h1>
	<hr><br>
	<div style="max-width:450px;display:block;margin:auto;">
		<form action="/new" method="POST">
			<p><i>What is the brand name of the medication<br>(i.e. Pradaxa, Tylenol, etc.)?</i></p>
			<input type="text" class="form-control input-lg" name="brand" placeholder="Medication Brand Name" required>
			<br><hr><br>

			<p><i>What is the generic name of the medication<br>(i.e. dabigatran, acetaminophen, etc.)?</i></p>
			<input type="text" class="form-control input-lg" name="generic" placeholder="Medication Generic Name" required>
			<br><hr><br>

			<p><i>What is the dosage of the medication<br>(i.e. 400mg, 100mg/mL, etc.)?</i></p>
			<input type="text" class="form-control input-lg" name="dtype" placeholder="Medication Dosage">
			<br><hr><br>

			<p><i>How often should the medication be taken?</i></p>
			<div class="form-group">
			<select class="form-control" name="freq">
				<option>Once per Day</option>
				<option>Twice per Day</option>
				<option>Every Other Day</option>
				<option>Once per Week</option>
				<option>As Needed</option>	
			</select>
			</div>
			<br><hr><br>

			<p><i>How much of the medication should be taken on this interval?<br>(i.e. 1 capsule, 2 puffs, etc.)</i></p>
			<input type="text" class="form-control input-lg" name="quant" placeholder="Medication Quantity">
			<br><hr><br>

			<p><i>Please add any relevant notes here, up to 1,000 characters.</i></p>
			<div class="form-group">
				<textarea class="form-control" rows="5" name="notes" placeholder="Enter notes here..."></textarea>
			</div>
			<br>
			<button type="submit" class="btn-lg btn-block btn-success">Create New Medication</button><br>
		</form>
	</div>

</div>
{% endblock %}