{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block main %}
<div style = "text-align:center">
	<p style="color:#f00;font-weight:bold">{{errmess}}</p>
	<p style="color:#00CC60;font-weight:bold">{{succmess}}</p>
	<h1><b style="font-size:48px">Create a New Account</b></h1>
	<hr><br>
	<div style="max-width:400px;display:block;margin:auto;">
		<form action="/register" method="POST">
			<input type="username" class="form-control input-lg" name="username" placeholder="Username" width="500px"><br><br>
			<input type="password" class="form-control input-lg" name="password" placeholder="Password" width="500px"><br><br>
			<button type="submit" class="btn-lg btn-block btn-success">Register</button>
		</form>
	</div>

	<br><hr>
	<p>Already have an account?<br><a href="login">Click here to sign in.</a></p>

</div>
{% endblock %}